 .main {

     display: flex;
     gap: 100px;
 }

 .div1,
 .div2,
 .div3 {
     height: 150px;
     width: 200px
 }

 .div1 {
     background-color: crimson;
 }

 .div2 {
     background-color: cyan;
 }

 .div3 {
     background-color: chocolate;
 }